<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Validation</title>
    <link rel="stylesheet" href="static/style.css">

</head>

<body>
    <div class="navbar">
        <ul>
            <li><a href="/"><img src="static/logo.png" alt="Logo" class="logo"></a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/email_validation">Email Validation</a></li>
        </ul>
    </div>
    <div class="container">
        <h1>Email Validation</h1>
        <form action="/email_validation" method="POST">
            <div class="input-group">
                <div class="input-col">
                    <label for="email_string">Email String Input</label>
                    <textarea id="email_string" name="email_string" rows="4" cols="50" placeholder="Enter a Email Id"
                        required>{{ email_string }}</textarea>
                </div>
            </div>
            <button type="submit">Validate</button>
        </form>

        <!--Valid Emails-->
        {% if valid_emails %}
        <div class="valid-email">
            <h2>Valid Email Id</h2>
            <p>Found {{ valid_emails | length }} Valid Email Id</p>
            <ul>
                {% for email in valid_emails %}
                <li>{{ email }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Invalid Emails-->
        {% if invalid_emails %}
        <div class="invalid-email">
            <h2>Invalid Email Id</h2>
            <p>Found {{ invalid_emails | length }} Invalid Email Id</p>
            <ul>
                {% for email in invalid_emails %}
                <li>{{ email }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>
</body>

</html>